.section-container{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.card{
    margin-top: 20px;
    right: 50px;
}

.btnAdd{
    margin-left: 10px;
    margin-top: 10px;
}

#section-task{
    background-color: slateblue;
    color: white;
    margin: 10px;
    padding-left: 3em;
    padding-bottom: 2em;
    border-radius: 5px;
    width: -webkit-fill-available;
}

#section-comment{
    background-color: #85144b;
    margin: 10px;
    padding: 2em;
    border-radius: 5px;
    width: -webkit-fill-available;
}