body {
    background-color: #282c34;
    color: white;
    padding: 50px;
    font-family: Arial;
    text-align: justify;
}

.cardContainer{
    margin-top: 5px;
}

.listTodos{
    list-style: 'none outside none';
    text-align: justify;
    margin: 5px;
}